<launch>
  <!--rosserial-->
  <node pkg="rosserial_python" type="serial_node.py" name="stm32_core" output="screen" respawn="true">
    <param name="port" value="/dev/stm32"/>
    <param name="baud" value="115200"/>
  </node>
  
  <!--location-->
  <node pkg="uwb_zigzag" type="location_uwb" name="location_uwb" output="screen" >
    <rosparam file="$(find uwb_zigzag)/config/baseStationPosition.yaml"  command="load"/>
  </node>
  
  <!--uwbReader-->
  <node pkg="uwb_zigzag" type="uwb_reader" name="uwb_reader" output="screen"/>

    
</launch>